.form-page {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.form-container {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.form-title {
    font-weight: normal;
    font-size: 1.9em;
    margin-bottom: 8px;
}

.instruction-text {
    margin-top: 0;
    color: #b4b5bd;
    margin-bottom: 25px;
}

.form {
    padding: 10px 30px 10px 30px;
    background-color: #1c222b;
    width: 100%;
}

.terms-label {
    font-size: 0.9em;
}

.terms-container {
    display: flex;
    align-items: center;
    height: 85px;
    margin-top: 25px;
    flex-wrap: wrap;
    align-content: flex-start;
}

input[type="checkbox"] {
    margin-right: 15px;
    width: 20px;
    height: 20px;
    accent-color: #2e7ad1;
}

.submit {
    color: #ffffff;
    background-color: #2e7ad1;
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 1.05em;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.already-registed,
.not-registed {
    font-size: 0.95em;
    margin-top: 40px;
}

.form-link:link,
.form-link:visited {
    color: #2e7ad1;
}